@import url('normal.css');

main {
    font-size: 1.3em;
}

pre {
    background-color: #000000;
}

a {
    color: #1122AA;
}

a:visited {
    color: #7755BB;
}

a:hover {
    color: #3344BB;
}

a:active {
    color: #5566CC;
}

.idezet {
    border: 1px solid #555555;
    border-left: 10px solid #555555;
}

.kisbetu {
    color: #000000;
}

.cikkcim {
    color: #000000;
}

.alcim {
    color: #000000;
}

.cim {
    color: #000000;
}