@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 140px;
}

body {
    padding-top: 80px;
    font-size: 1.04em;
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: #2233CC;
}

a:visited {
    color: #8866CC;
}

a:hover {
    color: #4455EE;
}

a:active {
    color: #7788FF;
}

pre {
    background-color: #444444;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.nav-link.active {
    font-weight: 500;
    font-size: 1.08em;
}

.kipozicional a {
    position: absolute; 
    left: -9999px;
}

.kipozicional a:focus {
    position: static;
}

.idezet {
    border: 1px solid #bbbbbb;
    border-left: 10px solid #bbbbbb;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.12em;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.cim {
    text-align: center;
    font-size: 2.5em;
    color: #333333;
    font-variant: small-caps;
}

.menu {
    background-image: url("hatter.png");
}

.alcim {
    text-align: center;
    color: #555555;
    font-size: 1.5em;
    margin-bottom: 1.1em;
}

.cikkcim {
    text-align: center;
    color: #555555;
    font-size: 1.5em;
}

.kategoria {
    font-family: Arial, Helvetica, sans-serif;
}

.katex {
    font-size: 1.1em;
}

.cikk {
    line-height: 1.8em;
    font-size: 0.9em;
}

.cimke {
    font-size: 0.9em;
}

.bemenet {
    font-size: 0.8em;
}

.magyarazat {
    font-size: 1.15em;
}

.leiras {
    line-height: 1.6em;
    font-size: 0.9em;
}

.kisbetu {
    font-size: 0.75em;
    color: #444444;
}

.feladatcim {
    max-width: 600px;
}

.feladatleiras {
    max-width: 600px;
}

#lablec {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#lablec p, #lablec a {
    margin: 0px;
    font-size: 0.75em;
}

@media print {
    a:after {
        content: " (" attr(href) ")";
    }
    img, pre, blockquote, video {
        page-break-inside: avoid;
    }
    pre, .badge {
        border: 1px solid grey;
    }
    video::-webkit-media-controls {
        display: none;
    }
    .row, .col, section {
        display: block;
    }
    .egyseg {
        page-break-after: always;
    }
    #fejlec, #lablec {
        display: none;
    }
}