@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 180px;
}

body {
    padding-top: 80px;
    font-size: 1.04em;
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: #2233CC;
}

a:visited {
    color: #8866CC;
}

a:hover {
    color: #4455EE;
}

a:active {
    color: #7788FF;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.nav-link.active {
    font-weight: 600;
    font-size: 1.08em;
}

.kipozicional a {
    position: absolute; 
    left: -9999px;
}

.kipozicional a:focus {
    position: static;
}

.kisbetu {
    font-size: 0.75em;
    color: #444444;
}

#lablec {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#lablec p, #lablec a {
    margin: 0px;
    font-size: 0.75em;
}

@media print {
    html, body {
        height: 100%;
    }
    #fejlec, #lablec {
        display: none;
    }
}